<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Project Detail</title>
  <link rel="icon" type="image/png" href="https://www.google.com/s2/favicons?domain=dumbways.id">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/navbar.css" />
  <link rel="stylesheet" href="css/blog.css" />
</head>

<body>
  <!-- NAV -->
    <nav class="navbar navbar-expand-lg bg-danger-subtle position-sticky top-0" style="z-index: 1;">
        <div class="container ">
            <a class="navbar-brand" href="/"><img src="/image/logo.png" alt="Dumbways" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-underline me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    {{#if loginCheck.isLogin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Add Project</a>
                    </li>
                    {{/if}}
                </ul>
                <form class="d-flex" role="search">
                    <ul class="navbar-nav nav-underline me-3 mb-2 mb-lg-0">
                        {{#if loginCheck.isLogin}}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hello, {{loginCheck.user}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/logout">Logout</a>
                        </li>
                        {{else}}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                            {{/if}}
                        <li class="nav-item">
                            <a class="btn btn-dark" href="/contact">Contact Me</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>

  <!-- ProjectDetail -->
<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-black" style="
        background-image: url('https://pbs.twimg.com/media/F1SeoEVakAEUt9k?format=jpg&name=4096x4096');
">    
  <div class="container my-2 text-white p-3"
  style="
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.2);">
      <div class="blog-detail-container">
        <h1>
          {{dataFake.title}}
        </h1>
        <div class="author">Duration: {{dataFake.duration}} | author: {{dataFake.author}} </div>
        <hr>
        <div class="my-3 d-flex align-items-center">
              <img class="w-50 img-fluid rounded" src="/{{dataFake.image}}" alt="detail"/>
            <div class="ms-3">
              <h2 class="fw-bold">Technologies</h2>
              {{#if dataFake.js}}
              <i class="fa-brands fa-square-js fa-lg"></i>
              {{/if}}
              {{#if dataFake.nodejs}}
              <i class="fa-brands fa-node fa-lg"></i>
              {{/if}}
              {{#if dataFake.expressjs}}
              <i class="fa-brands fa-html5 fa-lg"></i>
              {{/if}}
              {{#if dataFake.reactjs}}
              <i class="fa-brands fa-react fa-lg"></i>
              {{/if}}
          </div>
        </div>
        <hr>
        <p>
          Posted at: {{dataFake.createdAt}}
          <br>
          <h5>{{dataFake.content}}</h5>
        </p>
      </div>
  </div>
</div>
</body>

</html>